# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/

# the rust bin files
windows/rust/sentc_flutter.dll
windows/rust/sentc_flutter.lib

android/src/main/jniLibs/arm64-v8a/libsentc_flutter.so
android/src/main/jniLibs/armeabi-v7a/libsentc_flutter.so
android/src/main/jniLibs/x86_64/libsentc_flutter.so
android/src/main/jniLibs/x86/libsentc_flutter.so